@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
}

.wrapper {
  margin: 2rem;
  height: 35rem;
  width: 20rem;
}

.nft-image {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 20rem;
  border-radius: 10px;
  overflow: hidden;
  /*height: 300px;
  width: 20rem;
  border-radius: 10px;
  cursor: pointer;*/
}

.nft-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  /*height: 300px;
  width: 20rem;
  border-radius: 10px;
  overflow: hidden;*/
}

.nft-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: transparent;
  background-image: none;
  transition: background-color 0.3s ease;
}

.nft-image:hover::before {
  background-color: hsla(178, 100%, 50%, 0.25);
  background-image: url(images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  cursor: pointer;
}

.tittle-description {
  display: flex;
  flex-direction: column;
}
.tittle-description a,
.tittle-description h2 {
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: "Outfit", sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}
.tittle-description a:hover {
  color: hsl(178, 100%, 50%);
}
.tittle-description p {
  color: hsl(215, 51%, 70%);
  font-size: 16px;
}

.value-days {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.value {
  display: flex;
  align-items: center;
}
.value p {
  padding-left: 0.5rem;
  font-size: 16px;
  color: hsl(178, 100%, 50%);
}
.value img {
  height: 1rem;
}

.days {
  display: flex;
  align-items: center;
}
.days p {
  font-size: 16px;
  color: hsl(215, 51%, 70%);
}
.days img {
  height: 1.2rem;
  padding-right: 0.5rem;
}

hr {
  border: 0.3px solid hsl(215, 32%, 27%);
}

.avatar-creator {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.avatar-creator img {
  height: 2rem;
}
.avatar-creator p {
  font-size: 16px;
  color: hsl(215, 51%, 70%);
  padding-left: 1rem;
}
.avatar-creator a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.avatar-creator a:hover {
  color: hsl(178, 100%, 50%);
}

@media (max-width: 376px) {
  .wrapper {
    margin: 2rem;
    height: 30rem;
    width: 16rem;
  }
  .nft-image {
    position: relative;
    display: inline-block;
    height: 230px;
    width: 16rem;
    border-radius: 10px;
    overflow: hidden;
  }
  .nft-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
  .tittle-description {
    display: flex;
    flex-direction: column;
  }
  .tittle-description a,
  .tittle-description h2 {
    color: white;
    font-size: "Outfit", sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .tittle-description a:hover {
    color: hsl(178, 100%, 50%);
  }
  .tittle-description p {
    color: hsl(215, 51%, 70%);
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .wrapper {
    margin: 2rem;
    height: 30rem;
    width: 16rem;
  }
  .nft-image {
    position: relative;
    display: inline-block;
    height: 230px;
    width: 16rem;
    border-radius: 10px;
    overflow: hidden;
  }
  .nft-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
}
@media (max-width: 281px) {
  .wrapper {
    margin: 1rem;
    height: 30rem;
    width: 14rem;
  }
  .nft-image {
    position: relative;
    display: inline-block;
    height: 230px;
    width: 14rem;
    border-radius: 10px;
    overflow: hidden;
  }
  .nft-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
}
.avatar-creator {
  display: flex;
  align-items: center;
  padding-top: 0.7rem;
}
.avatar-creator img {
  height: 2rem;
}
.avatar-creator p {
  font-size: 15px;
  color: hsl(215, 51%, 70%);
  padding-left: 1rem;
}
.avatar-creator a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.avatar-creator a:hover {
  color: hsl(178, 100%, 50%);
}

@media (max-width: 1025px) {
  .wrapper {
    margin: 1rem;
    height: 30rem;
    width: 14rem;
  }
  .nft-image {
    position: relative;
    display: inline-block;
    height: 230px;
    width: 14rem;
    border-radius: 10px;
    overflow: hidden;
  }
  .nft-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
}
.avatar-creator {
  display: flex;
  align-items: center;
  padding-top: 0.7rem;
}
.avatar-creator img {
  height: 2rem;
}
.avatar-creator p {
  font-size: 15px;
  color: hsl(215, 51%, 70%);
  padding-left: 1rem;
}
.avatar-creator a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.avatar-creator a:hover {
  color: hsl(178, 100%, 50%);
}

/*# sourceMappingURL=styles.css.map */
